page-cv { 
    .mid{
         text-align: center; 
         font-weight: bold;  
         font-size: 18px;      
         color: darkviolet;      
    } 

    .bg-image{ 
        background-image: url('../assets/imgs/PICS.jpg');   
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;    
      }     

   }          