page-courses {
    .bg-image{ 
        background-image: url('../assets/imgs/PICS1.PNG');   
        background-position: center; 
        background-size: cover;   
        background-repeat: no-repeat;      
      }    
}  
