page-editcv {
    .bg-image{ 
        background-image: url('../assets/imgs/PICS.jpg');   
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;    
      }     
}  
 