page-eexampq {
    .real{
        background-image: url('../assets/imgs/sub.jpg');
        background-size: contain;  
        align-content: center;
        justify-content: center; 
        text-align: center;   
      }  
} 
